@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.title{
  font-family: "Roboto", system-ui;
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  color: aliceblue;
  margin-bottom: 10vh;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
}

.card{
  background-color: rgb(75, 75, 75);
  padding: 1rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-title{
  color: #00ff00;
  margin-bottom: 2vh;
  font-family: "Handjet", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-species, .card-status, .card-origin{
  font-family: "Handjet", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 0.4rem;
  color: #00ff00;
}

.card-species span, .card-status span, .card-origin span{
  color: #00aa00;
}

.card img {
  width: 100%;
  border-radius: 30px;
  max-width: 250px;
}